.login-container{
    width: 200px;
    height: 200px;
    background-image: url("logingbackground.jpg");
    
    box-sizing:content-box;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 100px 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
   
}
.signup-button{
    background-color: rgb(255, 142, 142);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 530;
    cursor: pointer;
    transition: 0.3s ease;
}
.signup-text{
    font-size: 20px;
    font-weight: 550;
    text-align: center;
}