body{
  font-family:Arial, Helvetica, sans-serif;
  margin: 1px 5px;
  
}

.nav-bar{
  display: flex;
  align-items: center;
  background-color: rgb(222, 249, 254);
  justify-content: end;
  column-gap: 100px;
  margin: 0;
  border-radius: 5px;
  padding: 10px 10px;
  

}
.user-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.usser-name{
  font-weight: 550;
}
.profile-pic{
  border-radius: 50%;
}
.logout-button{
  background-color: rgb(255, 142, 142);
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 530;
  cursor: pointer;
  transition: 0.3s ease;
}
.logout-button:hover{
    opacity: 0.7;
}
.nav-link{
  display: flex;
  column-gap: 40px;
  font-size: 18px;
}
a{
   text-decoration: none;
   color: black;
   font-weight: 550;
   cursor: pointer;
   position: relative;
}
a::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: rgb(33, 195, 239);
  transition: 0.35s ease-out;

}
a:hover::after{
  width: 100%;
}